# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override ressources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Ansible retry files
*.retry